annotated-doc
annotated-types
anyio
asgiref
bcrypt
blinker
blis
catalogue
certifi
cffi
charset-normalizer
clamd
click
cloudpathlib
confection
cryptography
cymem
Cython
Deprecated
distro
dnspython
docker
email_validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
faiss-cpu
fastapi
fastapi-cli
filelock
Flask
fsspec
googleapis-common-protos
greenlet
groq
grpcio
h11
hf-xet
hiredis
httpcore
httptools
httpx
huggingface_hub
idna
importlib_metadata
iniconfig
intel-openmp
itsdangerous
Jinja2
joblib
langcodes
markdown-it-py
MarkupSafe
mdurl
mkl
mpmath
murmurhash
networkx
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
packaging
passlib
pdfminer.six
pdfplumber
pillow
pluggy
preshed
prometheus_client
protobuf
psycopg2-binary
pycparser
pydantic
pydantic-settings
pydantic_core
pygame
Pygments
PyJWT
PyMuPDF
PyMuPDFb
pypdfium2
pyphen
pytest
pytest-asyncio
python-dotenv
python-multipart
python-ulid
PyYAML
redis
regex
requests
rich
rich-toolkit
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
structlog
sympy
tbb
tenacity
textstat
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
urllib3
uvicorn
wasabi
watchfiles
weasel
websockets
Werkzeug
wheel
wrapt
zipp
